@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: "Norse Bold";
  src: url("./assets/Norse-Bold.otf");
}

* {
  box-sizing: border-box;
}

:root {
  --main-element-left-space: 2.5rem;
}

:root.light {
  --primary-color: #d6d6af;
  --primary-color-light: rgb(249, 249, 210);
  --secondary-color: #f5f6e0;
  --accent-color: #48493c;
  --accent-color-light: #7c7e67;
  --primary-text: black;
  --primary-image: url(./assets/images/fantasy-6305036_1920.jpg);
}

:root.dark {
  --primary-color: #60595f;
  --primary-color-light: rgb(131, 124, 130);
  --secondary-color: #1e1e1b;
  --accent-color: #a88754;
  --accent-color-light: #e4d6ba;
  --primary-text: #eeecd7;
  --primary-image: url(./assets/images/fence-6021401_1920.jpg);
}

html {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--primary-color);
  color: var(--primary-text);
  font-family: "Lato", sans-serif;
}

#theme-choice {
  position: fixed;
  top: 17px;
  right: 30px;
  font-size: 0.95rem;
}

#appearance-btn {
  border-radius: 3px;
  width: max-content;
}

#appearance-btn,
.theme-option {
  display: flex;
  align-items: center;
  padding: 7px 25px;
}

#appearance-btn:hover,
.theme-option:hover {
  background-color: rgba(72, 73, 60, 0.17);
  cursor: pointer;
}

#theme-options {
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color-light);
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.theme-option {
  border-radius: 5px;
}

.selected-theme,
.selected-theme:hover {
  background-color: var(--primary-color-light);
}

.material-icons.md-18 {
  font-size: 18px;
}

.theme-name {
  padding-left: 5px;
}

aside {
  background-color: var(--accent-color);
  background-image: var(--primary-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

#logo-section {
  display: flex;
  height: calc(100% / 3);
}

#app-name {
  align-self: flex-end;
  width: 100%;
  padding: 40px 0;
  background-image: url(./assets/images/melody-159863_1280.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: "Norse Bold";
  font-size: 5.7rem;
  -webkit-text-stroke: 1px black;
}

:root.light #app-name,
:root.light footer {
  color: var(--secondary-color);
}

:root.dark #app-name,
:root.dark footer {
  color: var(--accent-color-light);
}

footer {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  padding-bottom: 20px;
}

.tooltip {
  flex-grow: 1;
  text-align: center;
  position: relative;
  display: inline-block;
}

.tooltip:hover {
  cursor: pointer;
}

:root.light .tooltip:last-child {
  border-left: 1px solid var(--secondary-color);
}

:root.dark .tooltip:last-child {
  border-left: 1px solid var(--accent-color-light);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: rgba(254, 213, 143, 0.77);
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 3px;
  padding: 5px 10px;
  position: absolute;
  bottom: 100%;
  left: 7%;
  z-index: 1;
  text-align: left;
  font-size: 0.9rem;
  color: black;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 37%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tooltip a {
  text-decoration: none;
  color: navy;
}

main {
  flex-grow: 1;
}

#about-app {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100% / 3);
  padding-bottom: 2.7rem;
  padding-left: var(--main-element-left-space);
  font-size: 1.1rem;
}

#about-app div:last-child {
  padding-top: 20px;
}

#form-section {
  background-color: var(--secondary-color);
  padding: 15px 17rem 23px var(--main-element-left-space);
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.23), 0px 12px 20px rgba(0, 0, 0, 0.19);
}

#form-heading {
  font-size: 1.3rem;
  margin: 0;
}

label {
  display: block;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-top: 17px;
  margin-bottom: 5px;
}

#form-inputs {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  column-gap: 3.5rem;
}

input {
  width: 100%;
  height: 38px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 0 7px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border: 1px solid #9098fe;
  border-left: 4px solid #9098fe;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

input:not(:focus):not(:placeholder-shown):invalid,
.error {
  border: 1px solid #fe9090;
  border-left: 4px solid #fe9090;
}

.error-message {
  visibility: hidden;
  font-size: 0.7rem;
  color: red;
}

input:focus:not(:placeholder-shown):invalid + .error-message {
  visibility: visible;
}

.success,
.regular-input:valid,
#confirm-password:focus.success {
  border: 1px solid #90fe90;
  border-left: 4px solid #90fe90;
}

#confirm-password.error:focus + .error-message {
  visibility: visible;
}

button {
  margin: 27px var(--main-element-left-space);
  padding: 10px 30px;
  border: 0;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
}

#login {
  margin-left: var(--main-element-left-space);
  font-size: 0.9rem;
}

#login a {
  text-decoration: none;
  color: var(--accent-color);
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #d6d6af;
    --primary-color-light: rgb(249, 249, 210);
    --secondary-color: #f5f6e0;
    --accent-color: #48493c;
    --accent-color-light: #7c7e67;
    --primary-text: black;
    --primary-image: url(./assets/images/fantasy-6305036_1920.jpg);
  }

  #app-name,
  footer {
    color: var(--secondary-color);
  }

  .tooltip:last-child {
    border-left: 1px solid var(--secondary-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #60595f;
    --primary-color-light: rgb(131, 124, 130);
    --secondary-color: #1e1e1b;
    --accent-color: #a88754;
    --accent-color-light: #e4d6ba;
    --primary-text: #eeecd7;
    --primary-image: url(./assets/images/fence-6021401_1920.jpg);
  }

  #app-name,
  footer {
    color: var(--accent-color-light);
  }

  .tooltip:last-child {
    border-left: 1px solid var(--accent-color-light);
  }
}
